@model IEnumerable<Hospital_Management.Models.Doctor_entry>
<table>
    <thead>
        <tr>
            <th scope="col">PatientID</th>
            <th scope="col">DoctorID</th>
            <th scope="col">DoctorName</th>
            <th scope="col">DoctorFees</th>
            <th scope="col">VisitTime</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stud in Model)
        {
            <tr>
                <td>@stud.PatientID</td>
                <td>@stud.DoctorID</td>
                <td>@stud.DoctorName</td>
                <td>@stud.DoctorFees</td>
                <td>@stud.VisitTime</td>
                <td>@stud.Date</td>
                <td>
                    <a href="/Doctorentry/Update?id=@stud.PatientID" type="button">Update</a>
                </td>
                <td>
                    <a href="/Doctorentry/Delete?id=@stud.PatientID" type="button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


